<div class="vehicle-page-bg">
    <div class="images-container">
        <app-carousel [carouselImages]="images"></app-carousel>
    </div>
    <div class="prices-table-container">
        <div class="prices-table">
            <table>
                <tr>
                  <th>Vehicle</th>
                  <th>Amount</th>
                </tr>
                <tr>
                  <td>Luton (long wheel base with tail lift)</td>
                  <td>£105 (per day)</td>
                </tr>
                <tr>
                  <td>Ford Transit (long wheel base with high top)</td>
                  <td>£80 (per day)</td>
                </tr>
                <tr>
                    <td>Transit</td>
                    <td>£65 (per day)</td>
                </tr>
                <tr>
                    <td>Car</td>
                    <td>£50 (per day)</td>
                </tr>
                <tr>
                    <th>Additional Fees</th>
                </tr>
                <tr>
                    <td>Early Collection</td>
                    <td>£10</td>
                </tr>
                <tr>
                    <td>Late Drop Off</td>
                    <td>£10</td>
                </tr>
                <tr>
                    <td>Insurances Excess</td>
                    <td>£1250</td>
                </tr>
                <tr>
                    <td>Tyre</td>
                    <td>£ cost + £25 admin fee</td>
                </tr>
                <tr>
                    <td>Windscreen</td>
                    <td>£ cost + £25 admin fee</td>
                </tr>
                <tr>
                    <td>Fuel Charge</td>
                    <td>Please replace any fuel<br /> used or you will be charged</td>
                </tr>
              </table>
        </div>
    </div>
</div>
