<div class="header">
    <div class="left-side">
      <div class="logo" routerLink="/">
        <img class="header-logo" src="../../assets/images/hardwick_hire_no_bg.png">
      </div>
    </div>
    <div class="right-side">
      <div class="header-menu-container">
        <ul class="header-menu-list">
          <li class="header-menu-items"><a routerLink="/" routerLinkActive="active-link">Home</a></li>
          <li class="header-menu-items"><a routerLink="/vehicles" routerLinkActive="active-link">Our Vehicles</a></li>
          <li class="header-menu-items"><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
