<div class="contact-background">
    <div class="text-flex-container">
        <div class="header">
            Contact Us
        </div>
        <div class="text">
            Have an enquiry?<br /> Please get in contact with us via the form below or give us a call on <br /><span class="phone-number">01342 54727</span>
        </div>
        <div class="bottom-text">
            We look forward to hearing from you!
        </div>
    </div> 
    <div class="flex-container">
        <div class="contact-form">
            <div class="form-container">
                <app-contact-form></app-contact-form>
            </div>
        </div>
    </div>
</div>
