<div class="footer-container">
    <div class="flex-container">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../assets/images/hardwick_logo_cropped.png">
            </div>
            <div class="footer-text">
                <div class="address">
                    213-217 London Road<br /> 
                    East Grinstead<br />
                    West Sussex<br /> 
                    RH19 1HD
                </div>
                <div class="phone-number">
                    01342 54727
                </div>
                <div class="email">
                    info@hardwickhire.co.uk
                </div>
            </div>
        </div>
    </div>
</div>
